################################################
###            ⚠️  IMPORTANT  ⚠️             ###
###                                          ###
###   Keep .gitignore and debian/ in sync!   ###
###                                          ###
################################################
# Any patterns added or updated in .gitignore
# must also be added to:
#
#     debian/source/options
#
# This ensures dpkg-source correctly excludes
# the same files from the upstream source tarball.
################################################

# --- PYTHON ---
# Runtime & Cache
*.py[cod]
__pycache__/

# PIP
dist/

# Setuptools
*.egg-info/

# Virtual environment
.venv/

# Testing
.pytest_cache/

# --- IDEs & EDITORS ---
.idea/
.vscode/

# --- OS & FILES ---
.DS_Store
Thumbs.db
*.app
*.exe
*.war

# --- MEDIA ---
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# --- PROJECT SPECIFIC ---
# Secrets & Config
.env
!mock_suite/.env

# Build artifacts
build/
