Source: systest-framework
Section: utils
Priority: optional
Maintainer: Henrik Ankersø <noreply@diblo.dk>
Build-Depends: python3.8, python3.8-dev, python3.8-venv, dh-python, pandoc
Standards-Version: 4.6.1

Package: systest
Architecture: all
Depends: python3.8, ${misc:Depends}
Description: Automated System Test Framework (systest)
  The robust system designed to automatically run behavioral system tests
  to ensure the quality, functionality, and reliability of products under test.
  .
  This framework is not a single program, but a collection of tools, libraries,
  and guidelines that standardize, organize, and simplify the testing process.
